{% extends "layout.njk" %}
{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{ professor.avatar_url }}) no-repeat center center / cover"></section>
        <section class="details">

            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome completo</div>
                <div>{{ professor.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ professor.age }}</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>
                    <div>
                        <select name="education_level">
                            <option value="high_school" {% if professor.education_level == "high_school" %} selected="selected" {% endif %}>Ensino Médio Completo
                            </option>
                            <option value="undergraduate" {% if professor.education_level == "undergraduate" %} selected="selected" {% endif %}>Ensino Superior Completo
                            </option>
                            <option value="masters_degree" {% if professor.education_level == "masters_degree" %} selected="selected" {% endif %}>Mestrado
                            </option>
                            <option value="phd" {% if professor.education_level == "phd" %} selected="selected" {% endif %}>Doutorado
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>{{ professor.gender }}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for service in services %}
                        <span>{{ service }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{ professor.created_at }}</div>
            </div>

            <a href="#" class="button">Editar</a>
            
        </section>
    </div>
{% endblock content %}